@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}
a {
  text-decoration: none !important;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
ul {
  padding-left: 0px !important;
}
p {
  line-height: 20px;
  text-align: left;
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: rgba(0, 0, 0, 1);
}
/*unversal class*/
.section-padding-1 {
  padding: 30px 0;
}
/*end universal*/
/*header*/

/*Driving growth through Gift Cards*/
.driving-heading h2 {
  line-height: 3.578rem;
  text-align: left;
  font-family:'Open Sans', sans-serif;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 2.982rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20.57px;
}

h6.sub-heading {
  line-height: 20px;
  text-align: left;
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
}
.btn-outline-zenoti {
  color: #0078d4 !important;
  border-color: #0078d4 !important;
  border: 2px solid #0078d4 !important;
  border-radius: 7px !important;
}
.main-box .imgBox img {
  border-radius: 7px;
}

.global {
  background-color: #ceefed;
  padding: 15px 20px;
  border-radius: 7px;
}
.global p {
  line-height: 20px;
  text-align: left;
  font-family:'Open Sans', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: rgba(28, 99, 87, 1);
}
/*adult*/
.adult-1 {
  border: 2px solid #bf992c;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.adult-content h6.survey-heading {
  color: #bf992c;
  font-size: 23px;
  font-weight: 600;
}

.adult-2 {
  border: 2px solid #a3b53c;
  border-radius: 10px;
  display: flex;
  align-items: flex-start;
  padding: 10px;
}
.adult-content h6.survey-heading-2 {
  color: #a3b53c;
  font-size: 23px;
  font-weight: 600;
}
/*gift card*/

.new-green {
  background-color: #e8f4b5;
  padding: 65px 111px !important;
  border-radius: 10px;
  position: relative;
}
.new-pink {
  background-color: #ffe1ca;
  padding: 65px 111px !important;
  border-radius: 10px;
  position: relative;
}
.new-purple {
  background-color: #e3e0fc;
  padding: 65px 111px !important;
  border-radius: 10px;
  position: relative;
}
.new-blue {
  background-color: #d0ebf7;
  padding: 65px 80px !important;
  border-radius: 10px;
  position: relative;
}
.new-orange {
  background-color: #ffecca;
  padding: 65px 110px !important;
  border-radius: 10px;
  position: relative;
}
.gift-hover:hover {
  box-shadow: 0px 7px 20px #516d132e;
}

.main-3 h4 {
  font-size: 0.875rem;
}
/*accordion main 4*/
.accordion-cos .accordion-button:not(.collapsed) {
  background-color: #f3f5f6;
  color: #000;
}
.accordion-cos h2 button {
  font-size: 0.875rem !important;
  font-weight: 500;
}
.accordion-cos .accordion-body {
  padding: 1.957rem 2.313rem;
  background: #f3f5f6;
  margin-top: 5px;
  border-top: 1px solid #eee;
}
.accordion-cos .accordion-item {
  border: none;
}
.accordion-cos .accordion-button {
  margin-top: 4.9px;
  background: #f3f5f6;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-cos h2.accordion-header button {
  font-size: 0.875rem !important;
  font-weight: 600;
}

/*sidebar*/
.side-bar-heading {
  background-color: #000;
  color: #fff;
  padding: 10px;
}
.side-bar-heading h4 {
  font-size: 13px;
}
.accordion-side .accordion-button:not(.collapsed) {
  background: #0078d4 !important;
  color: #fff;
}
/*question*/
.question {
  border: 1px solid #eee;
  border-radius: 10px;
}
.question-2-pad {
  padding: 0 11px;
}
.question-header {
  background-color: #0078d4;
  color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px 15px;
}
.question-header h2 {
  font-size: 17px;
}

.question-body {
  padding: 20px 28.97px;
}
.question-footer {
  padding: 0 10px;
}
.question-footer .tick {
  padding: 19.6px 28.97px;
  border-top: 1px solid #eee;
}
.question-footer .tick i {
  background-color: #389382;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
}

.question-footer .tick span {
  color: #389382;
  font-weight: 600;
}
.question-icon a {
  color: #fff;
}
.question-icon a:hover {
  color: #fff;
}
.tickbtn {
  background-color: #0078d4;
  border-bottom-right-radius: 10px;
}
.tickbtn a {
  color: #fff;
}

.tickbtn a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.tickbtn a:hover::after {
  width: 70%;
}
.tickbtn a:hover {
  color: #fff;
}
.question-radio {
  border-top: 1px solid #eee;
  padding-bottom: 0px;
}
.radio-question {
  border-top: 1px solid #eee;
  padding: 19.6px 28.97px;
}
.radio-question:first-child {
  border: none;
}

/* bottom btn */
.btn-next-prev {
  margin-top: 58.98px !important;
  margin-bottom: 28.98px !important;
}
/*sidebar*/
.your-progress h6 {
  font-size: 0.875rem;
}
.accordion-button::after {
  order: 3;
}
#sidebar {
  position: sticky;
}
/*next*/
.btn-outline-bn {
  color: #5ac8c4 !important;
  border-color: #5ac8c4 !important;
  border: 2px solid #5ac8c4 !important;
  border-radius: 7px !important;
}
.btn-outline-bn:hover {
  background-color: #5ac8c4;
  color: #fff !important;
}
#page-wrap {
  width: 600px;
  margin: 15px auto;
  position: relative;
}

/* #sidebar { 
  position: fixed; 
} */

.myDiv {
  display: none;
  padding: 10px;
}

.demoClass {
  background: #daf7f4 !important;
}
/* accordion */
.ac-menu .fas {
  float: right;
  font-size: 1.2em;
}

.ac-menu ul {
  margin: 0;
  padding: 10px !important;
  list-style: none;
}

.ac-menu ul li {
  margin-top: 3.9px;
  background-color: #f3f5f6;
}

.ac-menu ul a li {
  display: block;
  text-decoration: none;
  padding: 10px;
  color: #000;
  font-weight: 600;
}

.ac-menu ul a.active li {
  background: rgba(0, 120, 212, 1);
  color: #fff;
}
.ac-menu ul a.active li span.accor-time,
.ac-menu ul a li:hover span {
  color: #fff;
}
.ac-menu ul a li:hover {
  color: #fff;
  background: rgba(0, 120, 212, 1);
}
.ac-menu .ac-list > li > a {
  padding: 10px 15px;
  background-color: rgba(243, 245, 246, 1);
  color: #000000;
  font-weight: 600;
  font-size: 0.875rem;
}

span.accor-time {
  line-height: 20px;
  text-align: left;
  font-family:'Open Sans', sans-serif;Medium;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: rgba(0, 0, 0, 1);
  margin-right: 20px;
}
a.open span.accor-time,
.ac-menu .ac-list > li > a:hover span {
  color: rgba(255, 255, 255, 1);
}
/* Hover / Open */
.ac-menu .ac-list > li > a:hover,
.ac-menu .ac-list > li > .open {
  background-color: rgba(0, 120, 212, 1);
  color: #fff;
}

.ac-menu .open > .ac-icon:before {
  content: "";
}

/* Transition */
.ec-menu ul li a {
  transition: all 0.24s ease-in-out;
}

footer {
  border: 1px solid #e8e8e8;
}
.footer-a a {
  color: #000;
}

#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5 {
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  cursor: pointer;
  border-radius: 10px;
  width: 100%;
}
.overlay-close {
  position: absolute;
  right: 32px;
  top: 34px;
  font-size: 30px;
  font-weight: 100 !important;
  color: #fff;
}
.heading-overlay {
  color: #fff;
  text-align: center;
  font-size: 2.982rem;
}
.overlay-text {
  padding: 63px 20px;
}
.overlay-row {
  padding: 200px 0;
}
.overlay-p p {
  font-size: 14px;
  color: #fff;
  text-align: center;
  line-height: 1.2;
}

.sidebar-span {
  width: 80%;
  display: inline-block;
}



/* responsive */
@media (min-width: 1200px) and (max-width: 1500px) {
  .adult-1 {
    min-height: 145px;
  }
  .adult-2 {
    min-height: 145px;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .sidebar-span {
    width: 75%;
    display: inline-block;
    font-size: 14px;
  }
  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 65px 35px !important;
  }
  .adult-1 {
    min-height: 156px;
  }
  .adult-2 {
    min-height: 156px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .driving-heading h2 {
    font-size: 30px;
  }
  .gift-hover {
    box-shadow: 0px 7px 20px #516d132e;
  }
  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 65px 65px !important;
  }
}
@media (min-width: 768px) and (max-width: 836px) {
  .adult-1 {
    min-height: 160px;
  }
  .adult-2 {
    min-height: 160px;
  }
}
@media (min-width: 638px) and (max-width: 767px) {
  p {
    font-size: 13px;
  }
  h6.sub-heading {
    font-size: 15px;
  }
  .accordion-cos h2.accordion-header button {
    font-size: 14px !important;
    line-height: 1.5 !important;
  }

  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 45px 45px !important;
  }
  .question-radio span {
    font-size: 12px;
  }
  .driving-heading h2 {
    font-size: 2.982rem;
    line-height: 3.578rem;
  }
  .main-box {
    margin-top: 15px !important;
  }
  .millenials {
    margin-top: 10px !important;
  }
  .navbar-brand {
    margin-right: 0px !important;
  }
  .tickbtn a {
    font-size: 13px;
  }
  .gift-hover {
    box-shadow: 0px 7px 20px #516d132e;
  }
}
@media (min-width: 481px) and (max-width: 637px) {
  p {
    font-size: 12px;
  }
  h6.sub-heading {
    font-size: 14px;
  }
  .accordion-cos h2.accordion-header button {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }
  .gift-hover {
    box-shadow: 0px 7px 20px #516d132e;
  }

  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 65px 25px !important;
  }
  .question-radio span {
    font-size: 12px;
  }
  .driving-heading h2 {
    font-size: 1.982rem;
    line-height: 2.578rem;
  }
  .main-box {
    margin-top: 15px !important;
  }
  .millenials {
    margin-top: 10px !important;
  }
  .navbar-brand {
    margin-right: 0px !important;
  }
  .tickbtn a {
    font-size: 12px;
  }
  .gift-hover {
    box-shadow: 0px 7px 20px #516d132e;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  p {
    font-size: 12px;
  }
  h6.sub-heading {
    font-size: 14px;
  }
  .accordion-cos h2.accordion-header button {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }

  .gift-hover {
    box-shadow: 0px 7px 20px #516d132e;
  }
  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 65px 65px !important;
  }
  .question-radio span {
    font-size: 12px;
  }
  .driving-heading h2 {
    font-size: 1.982rem;
    line-height: 2.578rem;
  }
  .main-box {
    margin-top: 15px !important;
  }
  .millenials {
    margin-top: 10px !important;
  }
  .navbar-brand {
    margin-right: 0px !important;
  }
  .tickbtn a {
    font-size: 10px;
  }
  .your-progress {
    position: relative;
  }
  .sidebar-span {
    font-size: 13px;
  }
  .gift-hover {
    box-shadow: 0px 7px 20px #516d132e;
  }
}

#sticky {
  background-color: #fff;
  color: #fff;
  border-radius: 0.5ex;
}

#sticky.stick {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
  min-width: 100%;
  box-shadow: 0px 7px 20px #516d132e;
}
















/* relevance page */
