@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  scroll-behavior: smooth;
}

.text-black {
  color: #000000 !important;
}

.bg-text-b4d2ff {
  background-color: #b4d2ff;
}

.text-1em {
  font-size: 1em !important;
}

.bg-404040 {
  background-color: #404040;
}

.bg-b3eafa {
  background-color: #b3eafa;
}

.bg-bbe5ff {
  background-color: #bbe5ff !important;
}
.anchor-tag {
  color: black;
}

.bg-fff6DB {
  background-color: #fff6db;
}

.bg-f5f5f5 {
  background-color: #f5f5f5 !important;
}

#first_p {
  font-size: 100px;
  /* transform: translateY(340%); */
}
#second_p {
  font-size: 100px;
  /* transform: translateY(340%); */
}
#third_p {
  font-size: 100px;
  /* transform: translateY(340%); */
}
#forth_p {
  font-size: 100px;
  /* transform: translateY(340%); */
}

.bg-bf6e4b {
  background-color: #bf6e4b;
}

.bg-ecd3c9 {
  background-color: #ecd3c9;
}

.border-cca34b {
  border: 1px solid #cca34b;
}

.border-25847b {
  border: 1px solid #25847b;
}
.border-lightGrey {
  border: 1px solid lightgrey;
}

.border-7f779b {
  border: 5px solid #7f779b;
}

.border-7f779b-2px {
  border: 2px solid #7f779b;
}

.border-00b6ed-left {
  border-top: #ffffff 2px solid;
  border-left: #ffffff 2px solid;
  border-right: #ffffff 2px solid;
}

.border-7f779b-2px-noleft {
  border-top: 2px solid #7f779b;
  border-bottom: 2px solid #7f779b;
  border-right: 2px solid #7f779b;
}

.border-cd809c {
  border: 5px solid #cd809c;
}

.border-cd809c-2px {
  border: 2px solid #cd809c;
}
.border-cd809c-2px-noleft {
  border-right: 2px solid #cd809c;
  border-top: 2px solid #cd809c;
  border-bottom: 2px solid #cd809c;
}

.bg-d9d7e1 {
  background-color: #d9d7e1;
}

.bg-25847b {
  background-color: #25847b;
}

.bg-33ad6a {
  background-color: #33ad6a !important;
}

.bg-c2e7d3 {
  background-color: #c2e7d3 !important;
}
.bg-fod9e2 {
  background-color: #f0d9e2;
}
.responsive-height {
  height: 250px !important;
}

.color-cd8096 {
  color: #cd8096;
}
.color-7f779b {
  color: #7f779b;
}
.make-flip {
  transform: rotateY(180deg);
}

.flip-card-size {
  width: 400px;
  height: 400px;
}

.flip-card-size1 {
  width: 300px;
  height: 300px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform: rotateX(0deg);
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  border: 1px solid black;
  color: white;
  transform: rotateY(180deg);
}

.gray-content {
  min-height: 13rem !important;
}

.w-60 {
  width: 60% !important;
}

.bg-e7e6e6 {
  background-color: #e7e6e6 !important;
}

.square-wrapper {
  position: relative;
}

.square-wrapper:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.square {
  position: absolute;
  width: 100%;
  height: 100%;
}

.image-caption {
  margin: 0 25% !important;
  text-align: justify !important;
}

.color-00b6ed {
  color: #00b6ed;
}

.border-00b6ed {
  border: #00b6ed 1px solid;
}

.border-00b6ed-noleft {
  border-top: #ffffff 2px solid;

  border-right: #ffffff 2px solid;

  border-bottom: #ffffff 2px solid;
}

.border-00b6ed-right {
  border-top: #ffffff 2px solid;

  border-right: #ffffff 2px solid;
}

.border-00b6ed-top {
  border-top: #ffffff 2px solid;

  border-left: #ffffff 2px solid;

  border-bottom: #ffffff 2px solid;

  border-right: #ffffff 2px solid;
}

.border-00b6ed-bottom {
  border-top: #ffffff 2px solid;

  /* border-left: #00b6ed 2px solid; */

  border-bottom: #ffffff 2px solid;

  border-right: #ffffff 2px solid;
}

.color-cd809c {
  color: #cd809c;
}

.color-8d85a5 {
  color: #8d85a5;
}

.w-30 {
  width: 30% !important;
}
.aerrow-box {
  height: 150px !important;
  width: 150px !important;
  margin: 1rem 3rem 0 0 !important;
}

.aerrow-box-content {
  min-height: 150px !important;
  width: 150px !important;
  margin: 1rem 3rem 0 0 !important;
  background-color: #e7e6e6 !important;
  padding: 0.5rem !important;
}

.justify-content-center {
  justify-content: center;
}

.hover-hyperlink:hover {
  color: blue !important;
  text-decoration: underline !important;
}

.border_pink {
  border: 1px solid pink;
}

.border-collapse {
  border-collapse: collapse;
}
.bg-f9f8f8 {
  background-color: #f9f8f8;
}
.border-unset {
  border: unset !important;
}
.color-black {
  color: #000000 !important;
}

.color-blue {
  color: blue !important;
}

.bg-33ad6a {
  background-color: #33ad6a;
}

.bg-c2e7d3 {
  background-color: #c2e7d3;
}

.bg-lightGrey {
  background-color: #f5f5f5 !important;
}

.bg-00b6ed {
  background-color: #00b6ed !important;
}

.bg-ffffff {
  background-color: #ffffff !important;
}

.bg-cd809c {
  background-color: #cd809c !important;
}

.bg-7f779b {
  background-color: #7f779b;
}
.bg-b8eacf {
  background-color: #b8eacf;
}

.bg-ccf0fc {
  background-color: #ccf0fc;
}

.bg-8d85a5 {
  background-color: #8d85a5 !important;
}

.bg-b7b3c7 {
  background-color: #b7b3c7;
}
.text-white {
  color: #ffffff;
}

.text-0d6efd {
  color: #0d6efd;
}

.text-00b6ed {
  color: #00b6ed;
}

.rotate-270 {
  transform: rotate(270deg);
}

.text-right {
  text-align: right;
}

.vertical-center {
  align-self: center !important;
}

.text-left {
  text-align: left;
}

.text-justify {
  text-align: justify !important;
}

.content-new {
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

.bullets {
  padding-left: 2rem !important;
}

.sub-bullets {
  margin-left: 2rem !important;
}

.underline {
  text-decoration: underline;
}

.underline:hover {
  text-decoration: none;
}

ol > li {
  margin: 1rem 0;
}

.cursor-pointer {
  cursor: pointer;
}

a {
  text-decoration: none !important;
}
a:hover {
  color: #0078d4;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
  font-size: 16px !important;
}
h1 {
  font-size: 32px !important;
  font-weight: bold !important;
}
h2 {
  font-size: 24px !important;
}
h3 {
  font-size: 18.72px !important;
}
h4 {
  font-size: 16px !important;
  font-weight: bold !important;
}

ul {
  padding-left: 0px !important;
}
ul li {
  font-size: 1em !important;
  margin-bottom: 10px;
}
ul li:last-child {
  margin-bottom: 0;
}
p {
  line-height: 1.6;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  color: rgba(0, 0, 0, 1);
}
p:last-child {
  margin-bottom: 0 !important;
}
h4,
h5 {
  margin-bottom: 0 !important;
}
/*unversal class*/
.section-padding-1 {
  padding: 2.188rem 0 !important;
}
.section-padding-2 {
  padding-top: 2.188rem;
}
.section-padding-3 {
  padding-top: 0.938rem;
}
.section-padding-4 {
  padding-top: 0.938rem;
}
/*end universal*/
/*header*/

/*Driving growth through Gift Cards*/
.driving-heading h2 {
  line-height: 3.141rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 600;
  font-size: 2.8rem;
  color: rgba(0, 0, 0, 1);
  margin-bottom: 20.57px;
}

h6.sub-heading {
  line-height: 1.25rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: rgba(0, 0, 0, 1);
}
.btn-outline-zenoti {
  color: #0078d4 !important;
  border-color: #0078d4 !important;
  border: 2px solid #0078d4 !important;
  border-radius: 7px !important;
}
.main-box .imgBox img {
  border-radius: 7px;
}

.global {
  background-color: #ceefed;
  padding: 0.938rem 1.25rem;
  border-radius: 7px;
}
.global p {
  line-height: 1.25rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.875rem;
  color: rgba(28, 99, 87, 1);
}
/*adult*/
.adult-1 {
  border: 2px solid #bf992c;
  border-radius: 0.625rem;
  display: flex;
  align-items: flex-start;
  padding: 0.625rem;
}
.adult-content h6.survey-heading {
  color: #bf992c;
  font-size: 23px;
  font-weight: 600;
}

.adult-2 {
  border: 2px solid #a3b53c;
  border-radius: 0.625rem;
  display: flex;
  align-items: flex-start;
  padding: 0.625rem;
}
.adult-content h6.survey-heading-2 {
  color: #a3b53c;
  font-size: 23px;
  font-weight: 600;
}
/*gift card*/

.new-green {
  background-color: #bbe5ff;
  padding: 4.063rem 111px !important;
  position: relative;
}
.new-pink {
  background-color: #00b6ed;
  padding: 4.063rem 111px !important;
  position: relative;
}
.new-purple {
  background-color: #e3e0fc;
  padding: 4.063rem 111px !important;
  border-radius: 0.625rem;
  position: relative;
}
.new-blue {
  background-color: #d0ebf7;
  padding: 4.063rem 80px !important;
  border-radius: 0.625rem;
  position: relative;
}
.new-orange {
  background-color: #ffecca;
  padding: 4.063rem 10.625rem !important;
  border-radius: 0.625rem;
  position: relative;
}
.gift-hover:hover {
  box-shadow: 0px 7px 1.25rem #516d132e;
}

.main-3 h4 {
  font-size: 0.875rem;
}
/*accordion main 4*/
.accordion-cos .accordion-button:not(.collapsed) {
  background-color: #f3f5f6;
  color: #000;
}
.accordion-cos h2 button {
  font-size: 0.875rem !important;
  font-weight: 500;
}

.callout-div {
  max-height: 150px;
}

.round-icon {
  width: 200px;
}

.accordion-cos .accordion-body {
  padding: 1.957rem 2.313rem;
  background: #f3f5f6;
  margin-top: 5px;
  border-top: 1px solid #eee;
}
.accordion-cos .accordion-item {
  border: none;
}
.accordion-cos .accordion-button {
  margin-top: 4.9px;
  background: #f3f5f6;
}
.accordion-button:focus {
  box-shadow: none !important;
}
.accordion-cos h2.accordion-header button {
  font-size: 0.875rem !important;
  font-weight: 600;
}

/*sidebar*/
.side-bar-heading {
  background-color: #000;
  color: #fff;
  padding: 0.625rem;
}
.side-bar-heading h4 {
  font-size: 13px;
}
.accordion-side .accordion-button:not(.collapsed) {
  background: #0078d4 !important;
  color: #fff;
}
/*question*/
.question {
  border: 1px solid #eee;
  border-radius: 0.625rem;
}
.question-2-pad {
  padding: 0 11px;
}
.question-header {
  background-color: #0078d4;
  color: #fff;
  border-top-left-radius: 0.625rem;
  border-top-right-radius: 0.625rem;
  padding: 0.625rem 0.938rem;
}
.question-header h2 {
  font-size: 1.063rem;
}

.question-body {
  padding: 1.25rem 1.811rem;
}
.question-footer {
  padding: 0 0.625rem;
}
.question-footer .tick {
  padding: 1.225rem 1.811rem;
  border-top: 1px solid #eee;
}
.question-footer .tick i {
  background-color: #389382;
  padding: 7px;
  border-radius: 50%;
  color: #fff;
}

.question-footer .tick span {
  color: #389382;
  font-weight: 600;
}
.question-icon a {
  color: #fff;
}
.question-icon a:hover {
  color: #fff;
}
.tickbtn {
  background-color: #0078d4;
  border-bottom-right-radius: 0.625rem;
}
.tickbtn a {
  color: #fff;
}

.tickbtn a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s;
}

.tickbtn a:hover::after {
  width: 70%;
}
.tickbtn a:hover {
  color: #fff;
}
.question-radio {
  padding-bottom: 0px;
  background-color: #bbe5ff;
}
.radio-question {
  border-top: 1px solid #eee;
  padding: 1.225rem 1.811rem;
}
.radio-question:first-child {
  border: none;
}

/* bottom btn */
.btn-next-prev {
  margin-top: 3.686rem !important;
  margin-bottom: 1.811rem !important;
}
/*sidebar*/
.your-progress h6 {
  font-size: 0.875rem;
}
.accordion-button::after {
  order: 3;
}
#sidebar {
  position: sticky;
}
/*next*/
.btn-outline-bn {
  color: #5ac8c4 !important;
  border-color: #5ac8c4 !important;
  border: 2px solid #5ac8c4 !important;
  border-radius: 7px !important;
}
.btn-outline-bn:hover {
  background-color: #5ac8c4;
  color: #fff !important;
}
#page-wrap {
  width: 600px;
  margin: 0.938rem auto;
  position: relative;
}

/* #sidebar { 
  position: fixed; 
} */

.myDiv {
  display: none;
  padding: 0.625rem;
}

.demoClass {
  background: #bbe5ff !important;
}
/* accordion */
.ac-menu .fas {
  float: right;
  font-size: 1.2em;
}

.text_underline {
  text-decoration: underline !important;
}

.ac-menu ul {
  margin: 0;
  padding: 0.625rem !important;
  list-style: none;
}

.ac-menu ul li {
  margin-top: 3.9px;
  background-color: #f3f5f6;
}

.ac-menu ul a li {
  display: block;
  text-decoration: none;
  padding: 0.625rem;
  color: #000;
  font-weight: 600;
}

.collapsible p {
  line-height: 2rem;
}
.section-margin-2 {
  margin-top: 1.563rem !important;
}

.collapsible {
  background-color: #f5f5f5;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}
.collapsible-purple {
  background-color: #7f779b;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible-33ad6a {
  background-color: #33ad6a;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.min-w-50 {
  min-width: 50px;
}

.right-paranthese-order-list {
  counter-reset: list;
}
.right-paranthese-order-list > li {
  list-style: none;
}
.right-paranthese-order-list > li:before {
  content: counter(list) ") ";
  counter-increment: list;
}

.collapsible-b8eacf {
  background-color: #b8eacf;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.collapsible:hover {
  background-color: #555;
  color: #fff !important;
}
.collapsible:hover p,
.collapsible:hover p.sign:after {
  color: #fff;
}

.sign:after {
  content: "\002B ";
  color: black;
  font-weight: bold;
  font-size: 25px;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}

.sign {
  width: 20px;
  height: 20px;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  z-index: 99;
}

.active:after {
  content: "\2212 ";
  color: black;
  font-size: 25px;
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-right: 10px;
}

.content {
  display: none;
  padding: 0 18px;
  transition: max-height 0.2s ease-out;
}

.ac-menu ul a.active li {
  background: rgba(0, 120, 212, 1);
  color: #fff;
}
.ac-menu ul a.active li span.accor-time,
.ac-menu ul a li:hover span {
  color: #fff;
}
.ac-menu ul a li:hover {
  color: #fff;
  background: rgba(0, 120, 212, 1);
}
.ac-menu .ac-list > li > a {
  padding: 0.625rem 0.938rem;
  background-color: rgba(243, 245, 246, 1);
  color: #000000;
  font-weight: 600;
  font-size: 0.875rem;
}

span.accor-time {
  line-height: 1.25rem;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  color: rgba(0, 0, 0, 1);
  margin-right: 1.25rem;
}
a.open span.accor-time,
.ac-menu .ac-list > li > a:hover span {
  color: rgba(255, 255, 255, 1);
}
/* Hover / Open */
.ac-menu .ac-list > li > a:hover,
.ac-menu .ac-list > li > .open {
  background-color: rgba(0, 120, 212, 1);
  color: #fff;
}

.ac-menu .open > .ac-icon:before {
  content: "";
}

/* Transition */
.ec-menu ul li a {
  transition: all 0.24s ease-in-out;
}

footer {
  border: 1px solid #e8e8e8;
}
.footer-a a {
  color: #000;
}

#overlay1,
#overlay2,
#overlay3,
#overlay4,
#overlay5 {
  position: absolute;
  display: none;
  height: 100%;
  top: 0;
  left: 0;
  margin-right: 0;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 2;
  cursor: pointer;
  border-radius: 0.625rem;
  width: 100%;
}
.overlay-close {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 1.5rem;
  font-weight: 100 !important;
  color: #fff;
}
.heading-overlay {
  color: #fff;
  text-align: center;
  font-size: 2.982rem;
}
.overlay-text {
  padding: 3.938rem 1.25rem;
}

.overlay-p p {
  font-size: 0.875rem;
  color: #fff;
  text-align: center;
  line-height: 1.5;
}

.sidebar-span {
  width: 80%;
  display: inline-block;
}

.w-80 {
  width: 80% !important;
}

.w-60 {
  width: 60% !important;
}

#sticky {
  background-color: #fff;
  color: #fff;
  border-radius: 0.5ex;
}

#sticky.stick {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  border-radius: 0 0 0.5em 0.5em;
  min-width: 100%;
  box-shadow: 0px 7px 1.25rem #516d132e;
}

/* relevance page */
.impact,
.callout {
  background-color: #bbe5ff;
  padding: 20px 20px;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.icon-width {
  width: 40%;
}
.round-callout {
  width: 150px;
  position: absolute;
  top: -30px;
  left: -40px;
}

.callout-7fdaf6 {
  background-color: #7fdaf6;
  padding: 20px 20px;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.callout-e6bfcd {
  background-color: #e6bfcd;
  padding: 20px 20px;
  margin-bottom: 1rem;
  line-height: 1.5;
}
.callout-c6c2d2 {
  background-color: #c6c2d2;
  padding: 20px 20px;
  margin-bottom: 1rem;
  line-height: 1.5;
}

.impact p,
.callout p {
  line-height: 1.6;
  text-align: center;
}

.blue-border {
  border: #00b6ed solid 5px;
}

.impact {
  background-color: #00b6ed;
  color: white;
  padding: 10px 10px;
}

.impact p {
  color: white;
}

.gift-hover {
  cursor: pointer;
}
/* motivate */
/* .motivate-sub-heading b {
  font-size: 0.875rem;
} */
/* p padding */
.physical-1-counti p:last-child {
  margin-bottom: 0;
}
.customize p:last-child {
  margin-bottom: 0;
}
.purchase p:last-child {
  margin-bottom: 0;
}
.calendar p:last-child {
  margin-bottom: 0;
}
.gift-cards p:last-child {
  margin-bottom: 0;
}
.gifting-stat p:last-child {
  margin-bottom: 0;
}
.Negative p:last-child {
  padding-bottom: 0;
}

/* additional  */
/* .additional ul li {
  list-style: none;
} */
.additional ul li a {
  font-size: 14px;
  font-weight: 600;
}

/* loyal */
.loyal-pro-influ ul li {
  list-style: number;
}
.loyal-pro-influ ul li {
  margin-bottom: 0.8rem;
}
.loyal-pro-influ ul li:last-child {
  margin-bottom: 0;
}
/* additional */
.additional ul li {
  margin-bottom: 7px;
}
ul.new-customer,
ul.current-cus-ul {
  list-style: number;
}
ul.drive-sale-inner-ul li {
  list-style: none;
}
ul.list-none li {
  list-style: none;
}
ul.list-number li {
  list-style: number;
}
ul.list-none li {
  list-style: none;
}
ul.list-radio li {
  list-style: disc;
}
/*  insta-image*/
.insta-image img {
  width: 35rem;
}

/* gift card click here effect */

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 99;
  right: 20px;
  top: 10px;
  display: block;
}

.cursor::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid#272727;
  border-radius: 50%;
  opacity: 0.5;
  top: -1px;
  left: -1px;
  animation: cursorAnim2 0.5s infinite alternate;
}

.blink-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  pointer-events: none;
  z-index: 99;
  right: 20px;
  display: block;
}
.z-index-1 {
  z-index: 1;
}

.pb-6 {
  padding-bottom: 60px !important;
}
.w-23 {
  width: 23% !important;
}
.pt-6 {
  padding-top: 60px !important;
}
.blink-circle::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  border: 8px solid#272727;
  border-radius: 50%;
  opacity: 0.5;
  top: -1px;
  left: -1px;
  animation: cursorAnim2 0.5s infinite alternate;
}

@keyframes cursorAnim {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes blinkAnim {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* new pages */
.guest-clickables table tr td a {
  text-decoration: underline !important;
}
.guest-clickables table tr td a:hover {
  text-decoration: none !important;
}

/* engage */
.engage-card {
  padding: 75px 20px;
  border: 5px solid #bbe5ff;
  cursor: pointer;
}
.engage-card-2 {
  border: 1px solid #000;
  cursor: pointer;
}
.engage-card-2 .enagage-img {
  border-bottom: 1px solid #000;
}
.enagage-img {
  padding: 20px;
}
.engage-content {
  padding: 20px;
}
.engage-content.engage-min-height {
  min-height: 343px;
  padding: 95px 20px !important;
}
.engage-content.book-min-height {
  min-height: 330px;
}
.engage-content.service-min-height {
  min-height: 410px;
}
.engage-content.checkout-min-height {
  min-height: 305px;
}
.panel {
  z-index: 99;
  position: relative;
  /* -webkit-perspective: 800px;
  -moz-perspective: 800px; */
}

.panel .front,
.panel .back {
  text-align: center;
}

.panel .front {
  height: inherit;
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 900;
  text-align: center;
  transform: rotateX(0deg) rotateY(0deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}

.responsive-width {
  width: 70% !important;
}

.panel .back {
  /* height: 550px; */
  position: relative;
  top: 0;
  z-index: 1000;
  transform: rotateY(-180deg);
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: all 0.4s ease-in-out;
}
/* .panel .height-engage{
  height: 4px;
} */
.panel.flip .front {
  z-index: 900;
  transform: rotateY(180deg);
}
.panel.flip .back {
  z-index: 1000;
  transform: rotateX(0deg) rotateY(0deg);
}
/*  */
.dollar-img img {
  width: 50%;
}
/* responsive */

@media (min-width: 1000px) and (max-width: 1200px) {
  #repeatCustomers {
    min-height: 550px;
  }
  #existingGuests {
    min-height: 550px;
  }
  #increases_brand_awareness {
    min-height: 550px;
  }
}
@media (min-width: 1200px) {
  #repeatCustomers {
    min-height: 500px;
  }
  #existingGuests {
    min-height: 500px;
  }
  #increases_brand_awareness {
    min-height: 500px;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .adult-1 {
    min-height: 9.063rem;
  }
  .adult-2 {
    min-height: 9.063rem;
  }
  .w-23 {
    width: 16% !important;
  }
}
@media (min-width: 991px) and (max-width: 1200px) {
  .sidebar-span {
    width: 75%;
    display: inline-block;
    font-size: 0.875rem;
  }
  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 4.063rem 2.188rem !important;
  }
  .adult-1 {
    min-height: 156px;
  }
  .adult-2 {
    min-height: 156px;
  }

  .graph-image img {
    width: 100%;
  }
  .graph-image img {
    width: 70%;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .driving-heading h2 {
    font-size: 1.92rem;
    line-height: 2.141rem;
  }
  .gift-hover {
    box-shadow: 0px 7px 1.25rem #516d132e;
  }
  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 4.063rem 4.063rem !important;
  }

  .graph-image img {
    width: 100%;
  }
  .graph-image img {
    width: 65%;
  }
  .img-responsive1 {
    width: 100%;
  }

  .responsive {
    flex-direction: column;
  }

  .responsivePadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}
@media (min-width: 768px) and (max-width: 836px) {
  .adult-1 {
    min-height: 160px;
  }
  .adult-2 {
    min-height: 160px;
  }
  .driving-heading h2 {
    font-size: 1.92rem;
    line-height: 2.141rem;
  }
  /* overlay */
  .overlay-p {
    margin-top: 10px;
  }
  .cursor {
    display: block;
  }

  .graph-image img {
    width: 100%;
  }
  .graph-image img {
    width: 65%;
  }
  .dollar-img img {
    width: 75%;
  }
}
@media (min-width: 638px) and (max-width: 767px) {
  p {
    font-size: 13px;
  }
  h6.sub-heading {
    font-size: 0.938rem;
  }
  .accordion-cos h2.accordion-header button {
    font-size: 0.875rem !important;
    line-height: 1.5 !important;
  }

  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 45px 10px !important;
  }
  .question-radio span {
    font-size: 0.75rem;
  }
  .driving-heading h2 {
    font-size: 1.92rem;
    line-height: 2.141rem;
  }
  .main-box {
    margin-top: 0.938rem !important;
  }
  .millenials {
    margin-top: 0.625rem !important;
  }
  .navbar-brand {
    margin-right: 0px !important;
  }
  .tickbtn a {
    font-size: 13px;
  }
  .gift-hover {
    box-shadow: 0px 7px 1.25rem #516d132e;
  }
  /* overlay text */
  #overlay1 .overlay-text {
    padding: 2.68rem 1.25rem;
  }
  .overlay-p p {
    font-size: 0.813rem;
  }
  #overlay1 .overlay-close {
    top: 0.813rem;
  }
  ul li,
  ol li {
    font-size: 0.8125rem !important;
  }
  .cursor {
    display: block;
  }
  .insta-image img {
    width: 100% !important;
  }
  .graph-image img {
    width: 100%;
  }
  .responsive {
    flex-direction: column;
  }

  .responsivePadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .dollar-img img {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 637px) {
  p {
    font-size: 0.75rem;
  }
  h6.sub-heading {
    font-size: 0.875rem;
  }
  .accordion-cos h2.accordion-header button {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }
  .gift-hover {
    box-shadow: 0px 7px 1.25rem #516d132e;
  }

  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 4.063rem 25px !important;
  }
  .question-radio span {
    font-size: 0.75rem;
  }
  .driving-heading h2 {
    font-size: 1.982rem;
    line-height: 2.578rem;
  }
  .main-box {
    margin-top: 0.938rem !important;
  }
  .millenials {
    margin-top: 0.625rem !important;
  }
  .navbar-brand {
    margin-right: 0px !important;
  }
  .tickbtn a {
    font-size: 0.75rem;
  }
  .gift-hover {
    box-shadow: 0px 7px 1.25rem #516d132e;
  }
  ul li,
  ol li {
    font-size: 0.75rem !important;
  }
  .cursor {
    display: block;
  }
  .insta-image img {
    width: 100% !important;
  }
  .graph-image img {
    width: 100%;
  }
  .responsive {
    flex-direction: column;
  }
  .responsivePadding {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
  .dollar-img img {
    width: 100%;
  }
}
@media (min-width: 320px) and (max-width: 480px) {
  p {
    font-size: 0.75rem;
  }
  h6.sub-heading {
    font-size: 0.875rem;
  }
  .accordion-cos h2.accordion-header button {
    font-size: 13px !important;
    line-height: 1.5 !important;
  }

  .gift-hover {
    box-shadow: 0px 7px 1.25rem #516d132e;
  }
  .new-green,
  .new-pink,
  .new-purple,
  .new-blue,
  .new-orange {
    padding: 4.063rem 4.063rem !important;
  }
  .question-radio span {
    font-size: 0.75rem;
  }
  .driving-heading h2 {
    font-size: 1.982rem;
    line-height: 2.578rem;
  }
  .main-box {
    margin-top: 0.938rem !important;
  }
  .millenials {
    margin-top: 0.625rem !important;
  }
  .navbar-brand {
    margin-right: 0px !important;
  }
  .tickbtn a {
    font-size: 0.625rem;
  }
  .your-progress {
    position: relative;
  }
  .sidebar-span {
    font-size: 13px;
  }
  /* overlay text */
  #overlay1 .overlay-text {
    padding: 2.68rem 1.25rem;
  }
  .overlay-p p {
    font-size: 0.813rem;
  }
  #overlay1 .overlay-close {
    top: 0.813rem;
  }
  /* leverage */
  .section-padding-2 {
    padding-top: 1.563rem !important;
  }
  ul li,
  ol li {
    font-size: 0.75rem !important;
  }
  /* insta imgae */
  .insta-image img {
    width: 100% !important;
  }
  .graph-image img {
    width: 100%;
  }
  .cursor {
    display: block;
  }

  .responsive {
    flex-direction: column;
  }
  .dollar-img img {
    width: 100%;
  }
}
/* end responsive */
.heart-card {
  width: 30% !important;
  cursor: pointer;
}
.cut-div {
  clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 20%);
}

.blur-text {
  filter: blur(6px);
  -webkit-filter: blur(6px);
  cursor: pointer;
}
.icon-card {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 50%;
}
.icon-card-image-1 {
  background-image: url("../img/pen1_green.png");
}
.icon-card-image-2 {
  background-image: url("../img/pen2_green.png");
}
.icon-card-image-3 {
  background-image: url("../img/small_right_green.png");
}
.icon-card-image-4 {
  background-image: url("../img/right_transparent_green.png");
}
.icon-card-image-5 {
  background-image: url("../img/cross2_green.png");
}
.icon-card-image-6 {
  background-image: url("../img/cross_transparent_green.png");
}

.container-inner-fullwidth {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  height: 500px;
  margin-top: 20px;
  left: 50%;
}
.inner-fullwidth-template {
  width: 100vw;
  position: relative;
  margin-left: -50vw;
  margin-top: 20px;
  left: 50%;
}

.program-card {
  width: 50% !important;
  cursor: pointer;
}
.heart-card-height {
  min-height: 200px !important;
  justify-content: center;
}
.header-image {
  border-radius: 0.5rem;
}

.heart-card-image {
  background-image: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)), url("../img/heart-card.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: -webkit-center;
  text-align: -moz-center;
}

.normal-card {
  text-align: -webkit-center;
  text-align: -moz-center;
}

.right-aerrow-img-size {
  width: 50%;
}
.image_box {
  /* max-width: 10% !important; */
  min-width: 10% !important;
}
.purple_smile_class {
  width: 25%;
}

.upper_arrow {
  width: 25%;
}

.blur_width {
  width: 70%;
}

.vice_width {
  width: 50%;
}
.vice_width_25 {
  width: 25%;
}

.vice_width_75 {
  width: 75%;
}

.width-50 {
  width: 50%;
}
/* Media queries */
@media (min-width: 0px) and (max-width: 320px) {
  .flip-card-size1 {
    width: 200px !important;
    height: 200px !important;
  }
  .responsive-width {
    width: 100% !important;
  }
  .width-50 {
    width: 30%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .vice_width_25 {
    width: 100%;
  }
  .blur_width {
    width: 100%;
  }
  .vice_width {
    width: 100%;
  }
  .vice_width_75 {
    width: 100%;
  }

  .responsive-width {
    width: 100% !important;
  }
  .round-callout {
    width: 80px;
    position: absolute;
    top: -25px;
    left: -25px;
  }
  .width-50 {
    width: 30%;
  }
  .cut-div {
    clip-path: polygon(100% 0%, 100% 100%, 0% 100%, 0% 10%);
  }
  .responsive-height {
    height: 350px !important;
  }
  .purple_smile_class {
    width: 50%;
  }
  .right-aerrow-img-size {
    width: 50% !important;
  }
  .heart-card {
    width: 100% !important;
  }
  .program-card {
    width: 100% !important;
  }
  #first_p {
    font-size: 80px;
    /* transform: translateY(340%); */
  }
  #second_p {
    font-size: 80px;
    /* transform: translateY(340%); */
  }
  #third_p {
    font-size: 80px;
    /* transform: translateY(340%); */
  }
  #forth_p {
    font-size: 80px;
    /* transform: translateY(340%); */
  }

  .flip-card-size {
    width: 320px !important;
    height: 320px !important;
  }

  .flip-card-size1 {
    width: 200px !important;
    height: 200px !important;
  }

  .image_box {
    /* max-width: 30% !important; */
    min-width: 30% !important;
  }
  .anchor-a {
    font-size: 12px;
  }
  .upper_arrow {
    width: 50%;
  }

  .mobile-img {
    width: 100% !important;
  }
  .callout-div {
    max-height: none;
  }
  .round-icon {
    width: 80px;
  }
}

@media (min-width: 481px) and (max-width: 637px) {
  .responsive-width {
    width: 100% !important;
  }
  .width-50 {
    width: 35%;
  }
  .blur_width {
    width: 100%;
  }
  .purple_smile_class {
    width: 50%;
  }
  .flip-card-size {
    width: 320px !important;
    height: 320px !important;
  }
  .flip-card-size1 {
    width: 225px !important;
    height: 225px !important;
  }
  .heart-card {
    width: 80% !important;
  }
  .program-card {
    width: 80% !important;
    cursor: pointer;
  }
  .right-aerrow-img-size {
    width: 50% !important;
  }
  .image_box {
    /* max-width: 15% !important; */
    min-width: 15% !important;
  }
  .upper_arrow {
    width: 30%;
  }

  .mobile-img {
    width: 50% !important;
  }
  .callout-div {
    max-height: none;
  }
  .round-icon {
    width: 80px;
  }
}

@media (min-width: 638px) and (max-width: 768px) {
  .responsive-width {
    width: 100% !important;
  }
  .blur_width {
    width: 100%;
  }
  .round-callout {
    width: 120px;
    top: -10px;
    left: -30px;
  }
  .purple_smile_class {
    width: 50%;
  }
  .flip-card-size1 {
    width: 300px !important;
    height: 300px !important;
  }
  .heart-card {
    width: 80% !important;
  }
  .program-card {
    width: 80% !important;
  }
  .right-aerrow-img-size {
    width: 70% !important;
  }
  .image_box {
    /* max-width: 15% !important; */
    min-width: 15% !important;
  }
  .upper_arrow {
    width: 30%;
  }
  .callout-div {
    max-height: 100px;
  }
  .round-icon {
    width: 200px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .callout-div {
    max-height: 100px;
  }
  .round-icon {
    width: 150px;
  }
  .blur_width {
    width: 100%;
  }
  .purple_smile_class {
    width: 40%;
  }
  .flip-card-size1 {
    width: 300px !important;
    height: 300px !important;
  }
  .heart-card {
    width: 60% !important;
  }

  .program-card {
    width: 60% !important;
  }
  .image_box {
    /* max-width: 15% !important; */
    min-width: 15% !important;
  }
  .upper_arrow {
    width: 40%;
  }
}

@media (min-width: 991px) and (max-width: 1200px) {
  .round-icon {
    width: 200px;
  }
  .flip-card-size1 {
    width: 300px !important;
    height: 300px !important;
  }
  .heart-card {
    width: 40% !important;
  }

  .image_box {
    /* max-width: 10% !important; */
    min-width: 10% !important;
  }
}

@media (min-width: 1200px) and (max-width: 1500px) {
  .flip-card-size {
    width: 450px !important;
    height: 450px !important;
  }
  .flip-card-size1 {
    width: 300px !important;
    height: 300px !important;
  }
  .heart-card {
    width: 40% !important;
  }
}

.tabs {
  max-width: 538px;
}
/* .tabs-nav .tabs-li {
  float: left;
} */
/* .tabs-li{
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  
} */
li:first-child {
  border-right: 0;
  border-top-left-radius: 6px;
}

.tabs-li {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-left: 2.5px;
  padding: 0px !important;
  margin-right: 2.5px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-top: 10px !important;
  justify-content: center;
}
li:last-child .anchor-a {
  border-top-right-radius: 6px;
}
.anchor-a {
  /* background: #eaeaed; */
  /* border: 1px solid #cecfd5; */
  color: black;
  display: block;
  /* font-weight: 600; */
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  align-self: center;
}
.anchor-a:hover {
  color: white;
}
.tab-active .anchor-a {
  /* background: #fff; */
  /* padding-top: 5px; */
  border-bottom-color: transparent;
  /* color: #2db34a; */
  cursor: default;
}
.tab-active {
  margin-top: 0px !important;
  font-weight: 600;
}
.tabs-stage {
  border: 1px solid #cecfd5;
  border-radius: 0 0 6px 6px;
  border-top: 0;
  clear: both;
  padding: 24px 30px;
  position: relative;
  top: -1px;
}

/*  */

.fw-unset {
  font-weight: unset !important;
}
